
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/Hexaware_Logo.jpeg" alt="Logo" style="width:38px;">
      </a>
      
      <a class="nav-item" tabindex="-1">LAN ID : {{consultant_id}}</a>
      <a class="nav-item" tabindex="-4" [routerLink]="['/sow']">Sow</a>
      <a class="nav-item" tabindex="-2" [routerLink]="['/project']">Project</a>
      <a class="nav-item" tabindex="-2" [routerLink]="['/investment']">Investment</a>
      <!-- <a class="nav-item" tabindex="-2" [routerLink]="['/investment']">Investment</a>
      <a class="nav-item" tabindex="-3" [routerLink]="['/investment']">Consultant</a>
      <a class="nav-item" tabindex="-4" [routerLink]="['/investment']">Sow</a> -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="/" class="nav-link active">Home</a>
      <a routerLink="/register" class="nav-link" >Register</a>
      <a routerLink="/login" class="nav-link" >Login</a>
      <a class="nav-item nav-link disabled" *ngIf="!!username" href="#" tabindex="-1" 
      aria-disabled="true"><i class="gylphicon gylphicon-user"></i>{{username}}</a>
    </div>
  </div> -->
</nav>