<button (click)="toggle()" id="bt" class="btn btn-primary">
    {{investmentbtn}}
</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Investment Code</th>
            <th>Investment Name</th>
            <th>Investment Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let investment of investmentList">
            <td>{{investment.investmentCode}}</td>
            <td>{{investment.investmentName}}</td>
            <td>{{investment.investmentType}}</td>
            <td>
                <button class="btn btn-success" (click)="deleteInvestment(investment)"> Delete</button>
                <button class="btn btn-success" (click)="editInvestment(investment)" style="margin-left: 20px;"> Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<ng-container *ngIf="show">
    <div class="card">
        <div class="card-header">
            Investment
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 offset-md-2">
                        <!-- <div class="col-md-4 col-sm-6"><h3>Login</h3></div> -->
                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <div class="row" *ngIf="showMsg">
                                <div class="col-xs-12">
                                    <p class="alter alert-success">
                                        <strong>Investment added Successfully</strong>
                                    </p>
                                </div>
                            </div>
                            <input type="hidden" [(ngModel)]="investment.id" #investment_code="ngModel" name="id" />
                            <div class="form-group col-md-6 col-sm-8">
                                <label for="investmentCode">Investment Code</label>
                                <input type="text" class="form-control" name="investmentCode" [(ngModel)]="investment.investmentCode" #investmentCode="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && investmentCode.invalid }" required />
                                <div *ngIf="f.submitted && investmentCode.invalid" class="invalid-feedback">
                                    <div *ngIf="investmentCode.errors.required">Investment Code is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="investmentName">Investment Name</label>
                                <textarea type="text" rows="2" cols="2" class="form-control" name="investmentName" [(ngModel)]="investment.investmentName" #investmentName="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && investmentName.invalid }" required></textarea>
                                <div *ngIf="f.submitted && investmentName.invalid" class="invalid-feedback">
                                    <div *ngIf="investmentName.errors.required">Investment Name is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="investmentType">Investment Type</label>
                                <select class="form-control" name="investmentType" [(ngModel)]="investment.investmentType" #investmentType="ngModel" [ngClass]="{ 'is-invalid': f.submitted && investmentType.invalid }"
                                    required>
                                    <option *ngIf=!investment.investmentType value="">Select</option>
                                    <option *ngFor="let investmentType of investmentTypeList" [ngValue]="investmentType">{{investmentType}}</option>
                                </select>
                                <div *ngIf="f.submitted && investmentType.invalid" class="invalid-feedback">
                                    <div *ngIf="investmentType.errors.required">Investment Type is required</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-8">
                                <label for="projectMasterId">Project Name</label>
                                <select (change)="onChange($event)"id="projectMasterId" class="form-control" name="projectMasterId" [(ngModel)]="investment.projectMasterId" #projectMasterId="ngModel"
                                  [ngClass]="{ 'is-invalid': f.submitted && projectMasterId.invalid }" required 
                                  >
                                  <option *ngIf=!investment.projectMasterId value=0>Select</option>
                                  <option *ngFor="let project of projectList" [ngValue]="project.projectMasterId">{{project.projectName}}</option>
                                </select>
                                <div *ngIf="f.submitted && projectMasterId.invalid" class="invalid-feedback">
                                  <div *ngIf="projectMasterId.errors.required">Project Name is required</div>
                                </div>
                              </div>
                              <div id="hidden_div" [hidden]="edited">
                                <div class="form-group col-md-6 col-sm-8">
                                    <label for="sowMasterId">SOW</label>
                                    <select id="sowMasterId" class="form-control" name="sowMasterId" [(ngModel)]="investment.sowMasterId" 
                                    #sowMasterId="ngModel"
                                      [ngClass]="{ 'is-invalid': f.submitted && sowMasterId.invalid }" required 
                                      >
                                      <option *ngIf=!investment.sowMasterId value=0>Select</option>
                                      <option *ngFor="let sow of sowList" [ngValue]="sow.sowMasterId">{{sow.sowName}}</option>
                                    </select>
                                    <div *ngIf="f.submitted && sowMasterId.invalid" class="invalid-feedback">
                                      <div *ngIf="sowMasterId.errors.required">SOW is required</div>
                                    </div>
                                  </div>
                              </div>
                            <div class="form-group col-md-4 col-sm-6">
                                <button class="btn btn-primary" style='margin-right:16px'>{{savebtn}}</button>
                                <input type="button" value="Reset" class="btn btn-secondary" style='margin-right:16px' (click)="reset()" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>